.discussionmain {
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  gap: 0px;
  align-items: stretch;
  height: 100%;
}

.thread-details {
  flex: 1;
  width: 100%;
  overflow: scroll;
}

.threadslist {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: scroll;
  padding-bottom: 10px;
  padding-top: 10px;
}

.left-sidebar {
  width: 300px;
  background-color: var(--surface);
  padding: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.thread {
  padding: 8px;
  background-color: var(--surface2);
  border-radius: 6px;
  transition: 0.1s all;
}

.thread:hover {
  background-color: var(--primary-dark);
  color: white;
  transform: translate(0px, -4px);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.thread:active {
  transform: translate(0px, -2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--primary-light);
}
