.upperbar {
  background-color: var(--primary);
  color: var(--lighttext);
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section {
  margin: 10px;
  background-color: var(--surface);
  padding: 10px;
  border-radius: 6px;
}

.coursebox {
  border-radius: 6px;
  padding: 6px;
  width: 120px;
  height: 140px;
  background-color: var(--surface2);
  transition: all 0.1s;
}

.coursebox:hover {
  background-color: var(--primary-dark);
  color: white;
  transform: translate(0px, -4px);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.coursebox:active {
  transform: translate(0px, -2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--primary-light);
}

.courselist {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
