:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --lighttext: #FFFFFF;
  --primary: #237569;
  --primary-light: #3aab89;
  --primary-dark: #196a66;
  --surface: #dee2e3;
  --surface2: #c9cfd1;
}

body {
  padding: 0px;
  margin: 0px;
}

h2, h1 {
  margin: 0px;
}
